/* accent color */
@utility current {
  --accent: currentColor;
}

@utility foreground {
  --accent: var(--foreground);
  --accent-foreground: var(--background);
}

@utility primary {
  --accent: var(--primary);
  --accent-foreground: var(--primary-foreground);
}

@utility secondary {
  --accent: var(--secondary);
  --accent-foreground: var(--secondary-foreground);
}

@utility accent {
  --accent: var(--accent);
  --accent-foreground: var(--accent-foreground);
  --primary: var(--accent);
  --primary-foreground: var(--accent-foreground);
  --secondary: var(--accent);
  --secondary-foreground: var(--accent-foreground);
}

/* underline effect */
@utility underline-effect {
  transition: background-size 0.5s, background-position 0s 0.5s;
  background-image: linear-gradient(var(--accent, currentColor) 0 0);
  background-position: 0 100%;
  background-size: 0 1px;
  background-repeat: no-repeat;
}

@utility underline-effect-active {
  transition: background-size 0.5s, background-position 0s 0.5s;
  background-image: linear-gradient(var(--accent, currentColor) 0 0);
  background-position: 100% 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}
